<div class="list-container">
  <h3>Lista elementów</h3>

  <div class="input-group">
    <input
      type="text"
      [(ngModel)]="newItem"
      placeholder="Wpisz tekst..."
      (keyup.enter)="addItem()"
    />
    <button (click)="addItem()">Dodaj</button>
  </div>

  <div class="list-items" *ngIf="hasItems()">
    <ul>
      <li *ngFor="let item of items; let i = index">
        <span>{{item}}</span>
        <a href="javascript:void(0)" (click)="removeItem(i)" class="remove-link">usuń</a>
      </li>
    </ul>
  </div>

  <p *ngIf="isEmpty()" class="empty-message">
    Lista jest pusta. Dodaj pierwszy element!
  </p>
</div>
